/*Reset*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*End Reset*/
/*Typo*/
html, body{
  overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css?family=MuseoModerno:400');

html {font-size: 100%;} /*16px*/

body {
  background: white;
  font-family: 'MuseoModerno', cursive;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'MuseoModerno', cursive;
  font-weight: 400;
  line-height: 1.3;
}
.BigTxt{
  font-size: 5.61rem;
}
h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}
/*END TYPO*/
/*Global*/
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.btn {
    padding: 1em 2em;
    border-radius:  30px;
    margin: 1em;
}
/*END GLOBAL STYLES*/
/*Hero*/
.hero{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1029%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 151%2c 65%2c 1)'%3e%3c/rect%3e%3cpath d='M1512 560L0 560 L0 372.73Q62.25 314.98%2c 120 377.23Q131.29 316.52%2c 192 327.81Q235.72 251.53%2c 312 295.25Q406.11 269.36%2c 432 363.47Q457.82 317.29%2c 504 343.11Q518.76 285.87%2c 576 300.63Q649.67 254.3%2c 696 327.97Q747.79 259.76%2c 816 311.56Q904.86 280.41%2c 936 369.27Q959.89 321.16%2c 1008 345.06Q1035.5 300.56%2c 1080 328.05Q1119.94 247.99%2c 1200 287.93Q1244.38 260.31%2c 1272 304.68Q1367.66 280.35%2c 1392 376.01Q1406.75 270.76%2c 1512 285.52z' fill='rgba(255%2c 119%2c 7%2c 1)'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 431.77Q26.06 337.83%2c 120 363.88Q192.26 316.14%2c 240 388.4Q282.48 358.88%2c 312 401.35Q357.57 326.93%2c 432 372.5Q458.93 327.43%2c 504 354.36Q594.6 324.96%2c 624 415.55Q692.01 363.56%2c 744 431.58Q759.63 375.2%2c 816 390.83Q865.23 320.05%2c 936 369.28Q994.75 356.02%2c 1008 414.77Q1056.49 391.26%2c 1080 439.76Q1092.84 380.6%2c 1152 393.43Q1198.39 367.82%2c 1224 414.21Q1297.94 368.15%2c 1344 442.09Q1364.53 342.62%2c 1464 363.15z' fill='rgba(251%2c 127%2c 25%2c 1)'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 446.97Q64.77 439.75%2c 72 504.52Q100.08 460.6%2c 144 488.68Q161.44 434.13%2c 216 451.57Q267.14 382.71%2c 336 433.85Q410.42 388.27%2c 456 462.7Q482.8 417.5%2c 528 444.3Q616.05 412.35%2c 648 500.39Q675.33 455.72%2c 720 483.04Q763.9 406.95%2c 840 450.85Q861.41 400.26%2c 912 421.68Q994.58 384.25%2c 1032 466.83Q1115.03 429.86%2c 1152 512.88Q1172.47 461.36%2c 1224 481.83Q1270.11 407.94%2c 1344 454.04Q1373.41 411.45%2c 1416 440.86Q1466.47 419.33%2c 1488 469.8z' fill='rgba(246%2c 134%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 533.91Q57.39 471.3%2c 120 528.69Q185.22 521.91%2c 192 587.14Q217.69 492.83%2c 312 518.51Q366.43 452.94%2c 432 507.37Q513.68 469.05%2c 552 550.73Q560.33 487.06%2c 624 495.38Q666.12 465.5%2c 696 507.62Q788.78 480.4%2c 816 573.19Q837.77 522.97%2c 888 544.74Q955.89 492.63%2c 1008 560.52Q1050.74 483.26%2c 1128 526.01Q1197.86 475.87%2c 1248 545.73Q1285.78 463.51%2c 1368 501.29Q1420.98 482.27%2c 1440 535.26Q1501.15 524.41%2c 1512 585.57z' fill='rgba(255%2c 151%2c 65%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1029'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
background-attachment: fixed;
background-size: cover;
height: 100vh;
}
.logo img {
  height: 80px;
}
header{
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
}
nav ul {
  display: flex;
}
nav a{
  margin-left: 1em;
  color: white;
}
.hero-slogan {
  width: 1440px;
  margin: 0 auto;
  padding: 1em 10em 10em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.hero-slogan h1 {
  font-weight: 600;
  font-size: 8em;
  margin-bottom: -22px;
  color: white;
}
.hero-slogan p{
  font-size: 3em;
  color: white;

}
.dropdown {
  display: none;
}
.hero nav {
  display: block;
}
/*END HERO STYLES*/
/*Intro section*/
.intro {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(/assets/backgroundimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 8em 0;
  height: 800px;
  color: white;
}
.svg-circle img {
  height: 10em;
}
.container {
  width: 60%;
  margin: 0 auto;
}
.intro-box {
  text-align: center;
  display: flex;
  flex-direction:  column;
  justify-content: center;
  align-items: center;
}
.intro-copy h2 {
  margin-top: 0;

}
.btn-primary {
  background-color: #FF9741;
  color: white;
  border: 1px solid #FF9741;
}
.btn-primary:hover{
  background-color: #f38428;
  border: none;
}
.btn-secondary {
  border: 3px solid white;
  color: white;
}
.btn-secondary:hover{
  background-color: white;
  color: #FF9741;
  border: none;
  transform: scale(2);
}
.intro-btn{
  padding: 3em;
}

/*End section*/
/*Services style*/
.services {
  display:flex;
  justify-content: center;
  position: relative;
  padding: 4em 0;
}
.services-copy {
  margin-bottom: 6em;
}
.services-copy a {
  margin: 2em 0;
}
.services-copy p {
  margin-bottom: 3em;
}
.services-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.services-box{
  max-width: 440px;
}
.services-info {
  margin-left: 30em;
}
.services-pic{
  display: flex;
  position: absolute;
  left: 40px;
}
.services-pic img{
  width: 40em;
  height: auto;
}
.services-box a{
  opacity: 0.5;
  color: black;
}
.services-box hr {
  background-color: #FF9741;
  height: 3px;
  border: none;
  width: 20px;
  margin: 0;
  transition: 0.2s;
}
#details:hover ~ #services-hr {
  width: 100px;
}

/*End sections
/*Client styles*/
.clients {
  width: 1440px;
  margin: 0 auto;
}
.clients-copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clients-logos {
  display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 480px;
grid-row-gap: 100px;
}
.clients-logos img {
  height: 10em;
}
.clients a {
  color: black;
}
.clients hr {
  background-color: #FF9741;
  height: 3px;
  border: none;
  width: 20px;
  margin: 0;
  transition: 0.2s;
}
/*End sections*/
/*Responsive media queries*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /*Fonts*/
  .hero-slogan h1 {
    font-size: 4em;
  }
  .hero-slogan p {
    font-size: 1.7em;
  }
  /*End Fonts*/
  header {
    width: auto;
  }
  .services {
    flex-direction: column;
  }
  .hero-slogan {
    margin-bottom: 0;
    padding: 1em 1em 1em;
    height: 50%;
  }
  .logo{
    margin-left: -1em;
  }
  .services-info{
    margin: 10px;
  }
  .services-pic{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
  }
  .services-pic img{
    width: 20em;
  }
  .hero nav {
    display: none;
  }
  .dropdown {
  position: relative;
  display: inline-block;
  background: none;
  }
  .dropdown-button{
    border: none;
    background: none;
  }
  .dropdown-button img{
    width: 3em
  }
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  }
  .dropdown:hover .dropdown-content{
    display: block;
  }
  .intro {
    height: 100%;
    padding: 2em 0.5em;
  }
  .container {
    width: auto;
    margin: 0;
  }
  .intro-btn{
    display: flex;
  }
  .services-grid{
    grid-template-columns: repeat(1, 1fr);
  }
  .services-info{
    margin: 10px;
  }
  .clients{
    width: auto;
  }
  .clients-copy {
    flex-direction: column;
    padding: 0.5em;
    align-items: flex-start;
  }
  .clients-logos{
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
  .clients-logos img{
    width: 5em;
    height: auto;
  }
}

/*End section*/
