/*Reset*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*END RESET*/
/*Typo*/
@import url('https://fonts.googleapis.com/css?family=MuseoModerno:400');

html {font-size: 100%;} /*16px*/

body {
  background: white;
  font-family: 'MuseoModerno', cursive;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'MuseoModerno', cursive;
  font-weight: 400;
  line-height: 1.3;
}
.BigTxt{
  font-size: 5.61rem;
}
h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}
/*END TYPO*/
/*Global*/
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.btn {
    padding: 1em 2em;
    border-radius:  30px;
    margin: 1em;
}
/*END GLOBAL STYLES*/
/*Hero*/
.hero{
  background-color: #f38f00;
background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23f7b200' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
height: 90vh;
}
.logo img {
  height: 50px;
}
header{
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
}
nav ul {
  display: flex;
}
nav a{
  margin-left: 1em;
  color: white;
}
.hero-slogan {
  width: 1440px;
  margin: 0 auto;
  padding: 1em 2em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.hero-slogan h1 {
  font-weight: 600;
  font-size: 8em;
  margin-bottom: -22px;
  color: white;
}
.hero-slogan p{
  font-size: 3em;
  color: white;

}
/*END HERO STYLES*/
/*Intro section*/
.intro {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(/assets/backgroundimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 8em 0;
  height: 800px;
  color: white;
}
.svg-circle img {
  height: 10em;
}
.container {
  width: 60%;
  margin: 0 auto;
}
.intro-box {
  text-align: center;
  display: flex;
  flex-direction:  column;
  justify-content: center;
  align-items: center;
}
.intro-copy h2 {
  margin-top: 0;

}
.btn-primary {
  background-color: #F59D00;
  color: white;
}
.btn-secondary {
  border: 3px solid white;
  color: white;
}
.intro-btn{
  padding: 3em;
}
.services-box a{
  opacity: 0.5;
  color: black;
}
/*End section*/
/*Services style*/
.services {
  display:flex;
  justify-content: center;
}
.services-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.services-box{
  max-width: 500px;
}

/*End sections
